body {
  background-color: black;
}

header {
  margin: 10px;
  background-color: lightsalmon;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 50px;
  border: white 5px solid;
}

h1 {
  font-size: 1000%;

}

h2 {
  color: white;
}

section {
  /* margin-left: 50px; */
  /* background-color: white; */
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
}

.gamePiece {
  border: 5px white solid;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.clicked {
  background-color: red;
}